:root {
    --header-background: white;
    --footer-background: rgb(243, 242, 242);
}

body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    background-color: #00000028;
    height: 100px;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 7px 20px;
    font-size: .8em;
    display: flex;
    justify-content: flex-end;
    background-color: #00000015;
    color: rgba(0, 0, 0, 0.74);
}

a {
    text-decoration: none;
    color: rgba(255, 166, 0, 0.664);
    background-color: rgba(255, 255, 255, 0.11);
}

main {
    background: linear-gradient(#ffffff, 50%, #0004ff56);
}

.country-container {
    box-shadow: 10px 13px 23px -10px rgba(255, 255, 255, 0.95);
}

.countries-section {
    display: grid;
}

.country-card {
    display: inline-block;
    padding: 20px;
    margin: 10px;
    background-color: rgba(0, 128, 0, 0.795);
    height: 400px;
    width: 400px;
    border-radius: 60px;
    box-shadow: 4px 10px 33px -13px rgba(0, 0, 0, 0.85);
    animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes scale-in-center {
    0% {
        transform: scale(0);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

h1 {
    box-shadow: 1px 12px 15px -13px 65%;
    -webkit-background-clip: text;
    background-clip: text;
    background-color: rgba(0, 128, 0, 0.795);
    font-size: 3rem;
    font-family: 'Alfa Slab One', serif;
}

.country-detail {
    font-size: 2rem;
    width: 50%;
    display: inline-block;
}

#country-detail-container h1 {
    background-color: black;
}

.country-name {
    color: black;
}

.countries-section h2 {
    font-size: 4.5rem;
}

h2 {
    font-size: 4.5rem;
    box-shadow: 1px 12px 15px -13px 65%;
    font-size: 3rem;
    text-decoration: none;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: url('/assets/moving-clouds.gif');
    color: transparent;
    font-family: 'Alfa Slab One', serif;
    box-shadow: 1px 12px 15px -13px rgba(0, 0, 0, 0.65);
    width: 900px;
    text-align: center;
    margin-top: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

h3 {
    color: white;
    font-size: 2rem;
    box-shadow: 1px 12px 12px -13px rgba(0, 0, 0, 0.65);
    width: 200px;
    text-align: center;
    background-color: rgba(25, 177, 25, 0.24);
    border-radius: 80px;
}

h4 {
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.37);
}

div.country-card.country-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div#country-list-container {
    display: inline-flex;
    flex-wrap: wrap;
}

.country-flag {
    border-top: 2px solid #0000003f;
    border-right: 6px outset #00000011;
    border-left: 2px solid #00000034;
    width: 300px;
    height: 200px;
    object-fit: cover;
    box-shadow: 10px 10px 43px -19px rgba(255, 255, 255, 0.55);
}

.country-flag:active {
    transform: scale(.95);
}